$name: toggle;

.#{$name} {
	display: inline-block;
	text-transform: uppercase;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	font-family: $font-main;
	line-height: 1.2;
	outline: none;
	word-break: break-word;
	font-weight: bold;
	color: white;
	width: 18px;
	height: 22px;
	padding: 0;
	border: none;
	margin-top: 10px;

	@include screen-md() {
		display: none;
	}
}