$name: bread;

.#{$name} {
	color: white;
	list-style-type: none;
	font-size: 16px;
	font-weight: normal;
	display: flex;

	&__item {
		position: relative;
		margin-right: 5px;

		&::after {
			position: absolute;
			font-family: $font-fa;
			content: '\f105';
			width: 10px;
			height: 10px;
			right: -5px;
			top: 0;
		}

		&:last-child {

			&::after {
				content: '';
			}
		}
	}

	&__link {
		color: white;
		font-size: 16px;
		font-weight: normal;
		text-transform: capitalize;
		margin-right: 10px;
	}
}