$name: company-detail-block;

.#{$name} {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__image-wrap {
		display: block;
		width: 100%;
	}

	&__image {
		background: no-repeat center / cover;
		width: 100%;
		padding-bottom: 100%;
	}

	&_height_lg {

		.#{$name}__image {
			padding-bottom: 138%;
		}
	}

	&__text {
		background: white;
		text-align: center;
		padding: 15px 10px;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
	}

	&__title {
		margin-bottom: 5px;
	}

	&_contain {

		.#{$name}__image {
			background-size: contain;
			background-position: bottom;
		}
	}
}