$name: contacts-item;

.#{$name} {
	display: inline-flex;
	align-items: center;
	border: none;

	&:hover,
	&:active {

		.#{$name} {
			// =====

			&__text-gray{
				color: inherit;
			}
		}
	}

	&__icon {
		fill: $color-second;
		margin-right: 8px;
		flex: none;
		height: 20px;
		width: 23px;
	}

	&__text-gray {
		display: inline;
		color: $color-gray;
	}

	&_bold {
		font-weight: bold;
	}

	&_icon_lg {

		.#{$name} {
			// =====

			&__icon {
				height: 28px;
				width: 40px;
				margin-right: 12px;
			}
		}
	}
}