$name: employer;

.#{$name} {
	background: white;
	padding: 15px;

	@include screen-sm() {
		padding: 20px;
	}

	&__wrap {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 15px;
	}

	&_simple {
		background-color: transparent;
		padding: 0;

		@include screen-sm() {
			padding: 0;
		}
	}
}