$name: fancybox;

.#{$name} {
	display: block;
	position: relative;
	outline: none;

	&::after {
		@extend %transition;
		content: '\f002';
		font-family: $font-fa;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 50px;
		color: white;
		text-shadow: 2px 1px 1px $color-text;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color-main, .8);
		opacity: 0;
		z-index: 1;
	}

	&:hover {

		&::after {
			opacity: 1;
		}
	}

	&:active {

		&::after {
			opacity: 1;
			background: rgba($color-main-active, .8);
		}
	}

	img {
		display: block;
	}

	&__bg {
		display: block;
		padding-bottom: 66%;
		background: no-repeat center / cover;
	}
}