$name: footer;

.#{$name} {
	flex: 0 0 auto;

	&__top {
		background: $color-main;

		&-content {
			align-items: center;
			padding: 10px 0;
		}
	}

	&__bottom {
		&-content {
			align-items: center;
			padding: 10px 0;
			justify-content: space-between;

			.contacts-item{
				justify-content: flex-start;

				&__icon {
					width: 23px;
					height: 24px;
				}
			}
		}
	}
}