$name: footer;

.#{$name} {
	flex: 0 0 auto;

	&__top {
		background: $color-main;
		padding: 15px 0;

		@include screen-md() {
			padding: 0;
		}
	}

	&__top-content {
		align-items: center;

		@include screen-sm() {
			margin-right: -15px;
		}

		@include screen-md() {
			margin-right: -10px;
		}

		@include screen-lg() {
			margin-right: -20px;
		}
	}

	&__logo {
		max-width: 350px;
		margin: 0 auto 15px;

		@include screen-sm() {
			margin: 0;
			padding: 10px 0;
		}
	}

	&__menu-outer {

		@include screen-sm() {
			padding-right: 0;
		}
	}

	&__menu-wrap {
		text-align: center;

		@include screen-sm() {
			text-align: left;
			display: flex;
			justify-content: flex-end;
		}
	}

	&__bottom {
		padding: 15px 0;
	}

	&__bottom-content {
		align-items: center;
	}

	&__col {
		text-align: center;
		margin-bottom: 15px;

		@include screen-md() {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&_left {

			@include screen-sm() {
				text-align: left;
			}
		}

		&_center {

			@include screen-sm() {
				text-align: right;
			}

			@include screen-md() {
				text-align: center;
			}
		}

		&_right {

			@include screen-md() {
				text-align: right;
			}
		}
	}

	&__contacts {

	}

	&__contact {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}