$name: header;

.#{$name} {
	flex: 0 0 auto;

	&__logo {
		margin-top: 10px;
	}

	&__top {
		background: white;

		&-content {
			display: flex;
		}
	}

	&__bottom {
		background: $color-main;
	}

	&__bottom-content {
		display: flex;
		align-items: center;
	}

	&__contacts {
		display: flex;
		flex-wrap: wrap;

		@include screen-lg() {
			flex-wrap: nowrap;
		}
	}
}