$name: header;

.#{$name} {
	flex: 0 0 auto;

	&__logo {
		margin-top: 10px;

		@include screen-sm(max) {
			margin-bottom: 20px;
		}
	}

	&__top {
		background: white;
		padding: 10px 0;
	}

	&__top-content {
		display: flex;
		align-items: center;
	}

	&__bottom {
		background: $color-main;
	}

	&__bottom-content {
		@include screen-md() {
			display: flex;
			align-items: center;
		}
	}

	&__contacts {
		display: flex;
		flex-wrap: wrap;

		@include screen-lg() {
			flex-wrap: nowrap;
		}
	}
}