$name: menu;

.#{$name} {
	list-style-type: none;

	@include screen-md() {
		display: flex !important;
		align-items: center;
		overflow: hidden;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	&__link {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		display: block;

		@include screen-md() {
			padding: 24px 21px;
		}
	}

	&__item {
		padding: 5px 0;

		&:hover {
			background: $color-main-active;
		}

		@include screen-md() {
			padding: 0;
		}
	}
}
