$name: menu;

.#{$name} {
	list-style-type: none;

	@include screen-md() {
		display: flex;
		align-items: center;
		overflow: hidden;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	&__link {
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		padding: 10px 15px;
		font-size: 15px;

		@include screen-md() {
			padding: 24px 10px;
		}

		@include screen-lg() {
			font-size: 16px;
			padding: 24px 20px;
		}
	}

	&__item {
		padding: 0;

		&:hover {
			background: $color-main-active;
		}
	}
}
