$name: space-modificator;

.#{$name} {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.fancybox__bg {
		padding-bottom: 64%;
	}

	@include screen-md(max) {

		.fancybox {
			margin-bottom: 30px;
		}
	}
}