.web {
	color: #1f1f1f;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

a.web{
	border-bottom: none;
	margin-left: 5px;
}

.webc__icon {
	display: block;
	width: 50px;
	max-height: 23px;
	fill: #1f1f1f;
}

.webc__icon:hover .cls-1 {
	fill:#334b61
}

.webc__icon:hover .cls-2 {
	fill:#ff141f;
}