$name: 'webc';

.#{$name} {
	color: $color-text;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	transition: ease-out .5s;

	&__icon {
		display: block;
		width: 50px;
		max-height: 23px;
		fill: $color-text;
		transition: all ease-out .5s;

		&:hover {

			.cls-1 {
				fill: $color-webcenter-2;
				transition: ease-out .5s;
			}

			.cls-2 {
				fill: $color-webcenter-1;
				transition: ease-out .5s;
			}
		}
	}
}

a.#{$name} {
	border-bottom: none;
	margin-left: 5px;
}