$name: slider;

.#{$name} {
	overflow: hidden;
	user-select: auto;

	.slick-list {
		margin: 0 -10px;
	}

	.slick-slide {

		> div {
			display: flex;
		}
	}

	a {

		&:focus {
			outline: none;
		}
	}

	&__item {
		outline: none;
		padding: 0 10px;
	}

	&__arrow {
		visibility: hidden;

		@include screen-sm() {
			visibility: visible;
		}

		&_prev,
		&_next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 48px;
			height: 66px;
			cursor: pointer;
			border: none;
			outline: none;
			background: black;
			z-index: 1;
			opacity: .5;
			transition: all ease-out .5s;

			&:hover {
				background: transparent;
			}

			&::before {
				content: '';
				color: white;
				position: absolute;
				top: 33%;
				height: 25px;
				width: 25px;
				border-top: solid 3px currentColor;
				border-right: solid 3px currentColor;
			}
		}

		&_prev {
			left: 0;

			&::before {
				left: 15px;
				transform: rotate(225deg);
			}
		}

		&_next {
			right: 0;

			&::before {
				right: 15px;
				transform: rotate(45deg);
			}
		}
	}

	&__dots-wrap {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);

		@include screen-sm() {
			padding: 0;
		}

		@include screen-sm(max) {
			width: 100%;
		}
	}

	&__dots {
		position: absolute;
		bottom: 10px;
		width: 100%;
		padding: 0 10px;
		margin: 0;
		list-style: none;
		text-align: center;

		li {
			position: relative;
			display: inline-block;
			margin: 10px;
			cursor: pointer;
			width: 16px;
			height: 16px;
			background-color: white;
			opacity: .9;
			border-radius: 50%;

			@include screen-sm() {
				margin: 15px;
				width: 20px;
				height: 20px;
			}

			&:hover {
				background-color: $color-second;
			}

			&:active {
				background-color: $color-second-active;
			}

			&.slick-active {
				background-color: $color-second;
				opacity: 1;
				cursor: default;
			}
		}
	}

	&__dot {

	}

	&__banner {
		padding: 30px 0 50px;

		@include screen-sm() {
			padding: 30px 50px 60px;
		}
	}

	&_dots_left {

		.#{$name} {
			// =====

			&__dots {
				text-align: left;
			}
		}
	}

	&_arrows_big {

		.#{$name} {
			// =====

			&__arrow {
				height: 100px;

				&::before {
					top: 36%;
				}
			}
		}
	}

	&_height_full {
		min-height: 70vh;
		display: flex;
		flex-direction: column;

		@include screen-xl() {
			min-height: calc(100vh - 141px);
		}

		.slick-list {
			display: flex;
			flex-grow: 1;
		}

		.slick-track {
			display: flex;
		}

		.slick-slide {

			> div {
				min-height: 100%;
			}
		}

		.#{$name} {
			// =====

			&__dots {
				position: static;
				padding: 0;
			}
		}
	}
}
