include global

mixin advantage(data)
	+g-tag(data && data.link ? 'a' : '')(
		class='advantage'
		class= attributes.class
		href= data.link
	)
		.advantage__img-wrap
			.advantage__img
				+svg(data.icon, 'advantage__icon')
		.advantage__text= data.text