.container.text-center
	p.main__404 404
	.text
		h2.mb-30= page.title
		.row.mb-30
			.col-sm-6.push-sm-3
				h4 Страница, на которую вы пытаетесь попасть, не существует или была удалена.
		a.mb-30.btn(href='/') На главную
