.container.text-center
	.main__404 404

	.row.mb-60
		.col-md-8.push-md-2.col-lg-6.push-lg-3
			.text.mb-30
				h2= page.title
				h4 Страница, на которую вы пытаетесь попасть, не существует или была удалена.
			a.btn(href= global.link_home) На главную