include ../mixins/bread
include ../mixins/company-detail-block

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			.banner.banner_valign_center.banner_shadow_left.slider__banner(style='background-image: url("../img/content/slider/01.jpg");')
				.banner__text-wrap
					.banner__text-i
						.text
							.container
								.row
									.col-md-9.col-lg-8.col-xl-7
										h2.main-title
											span.main-title__title Компания обладает всеми необходимыми сертификатами на осуществляемые виды деятельности
				.container.banner__bread
					+bread
.container
	h1.title.mb-30= page.title

	.row

		- for (var i = 0; i < 6; i++) {
			.col-sm-6.col-md-4.mb-30
				+company-detail-block({
					img: "../img/content/company-detail-block/01.png",
					title: "Сертификат соответствия",
					text: "Системы менеджмента качества ISO 9001:2016",
					link: true
				})(class="company-detail-block_height_lg")
		- }