include ../mixins/advantage
include ../mixins/bread

.slider.slider_height.mb-30
	.slider__item
		.banner.banner_middle
			.container.banner__container
				.row.banner__row
					.col-12.col-md-7
						h1.main-title.main-title_prefix
							span.main-title__prefix 20
							.main-title__title Лет успешной работы
			.container
				+bread
.container
	.row
		.col-12
			h2.title.mb-30 О компании
		.col-12.col-md-6.mb-30
			.image(style='background-image: url("../img/content/slider/01.jpg")')
		.col-12.col-md-6.mb-30
			.text
				p Наше предприятие образовано в 1991 году на базе ФГУП “Центральный научно-исследовательский институт материалов” (ЦНИИМ) и имеет многолетний преемственный опыт в области электрохимической обработки и нанесения хромовых покрытий, базирующийся на разработках оборонного значения. В состав нашей фирмы вошли специалисты — разработчики электрохимических технологий, износостойкого твёрдого хромирования и финишной обработки, применяющихся на изделиях оборонной промышленности.
				p Коллективом развиты традиции электрохимической обработки, заложенные ещё в 50-х годах 20 века трижды лауреатом Государственной премии, учёным ЦНИИМ Гусевым В.Н.. Это относится к следующим технологиям:
				p Нас хорошо знают внедрившие наше оборудование и технологии металлообрабатывающие, машиностроительные, металлургические и автомобильные промышленные предприятия городов Тулы, Коврова, Ижевска, Иванова, Череповца, Екатеринбурга, Уральска, Климовска, Уфы и других городов России.
				p Мы всегда с уважением относимся к нашим Заказчикам и партнёрам по работе, надеясь на взаимопонимание при решении общих задач.
	.row
		.col-12.col-sm-6.mb-30
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Наша команда'
			})(class='advantage_horizontal advantage_strong')
		.col-12.col-sm-6.mb-30
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Наша команда'
			})(class='advantage_horizontal advantage_strong')