include ../mixins/fancybox
include ../mixins/banner
include ../mixins/employer

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			+banner({
				img: '../img/content/slider/01.jpg',
				includeBread: true
			})(class='banner_valign_center banner_shadow_left slider__banner')
				.container
					.row
						.col-md-9.col-lg-8.col-xl-7
							h2.main-title
								span.main-title__title Выполненные работы

.container
	h1.title.mb-30= page.title

	.mb-30
		.row
			.col-md-6.mb-30
				+fancybox({
					link: 'img/content/slider/01.jpg',
					title: 'Img 1',
					group: 'group-1',
					bg: true
				})
			.col-md-6.space-modificator.mb-30
				.row
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
				.row
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')

		.row

			.col-12.mb-30
				+employer(employer)(class='employer_simple')