include ../mixins/bread
include ../mixins/fancybox

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			.banner.banner_valign_center.banner_shadow_left.slider__banner(style='background-image: url("../img/content/slider/01.jpg");')
				.banner__text-wrap
					.banner__text-i
						.text
							.container
								.row
									.col-md-9.col-lg-8.col-xl-7
										h2.main-title
											span.main-title__title Внушительный опыт внедрения гальванических технологий на крупных предприятиях
				.container.banner__bread
					+bread
.container
	h1.title.mb-30= page.title

	.text.mb-30
		p Для нанесения хромового покрытия на наружную (рабочую) поверхность компрессионных и маслосъемных колец двигателей внутреннего сгорания нами была создана установка в основу которой положен принцип хромирования в протоке электролита.
		p Использование данной технологии позволяет значительно увеличить плотность катодного тока по сравнению с хромированием в стационарной ванне и, соответственно, существенно повысить (в 3-5 раз) скорость осаждения хрома.

	.row
		.col-sm-6.mb-30
			+fancybox({
				link: 'img/content/slider/01.jpg',
				title: 'Img 1',
				group: 'group-1'
			})
		.col-sm-6.mb-30
			+fancybox({
				link: 'img/content/slider/01.jpg',
				title: 'Img 1',
				group: 'group-1'
			})

	.text.mb-30
		p Применение герметичной ячейки исключает наличие открытого зеркала электролита, что повышает экологическую безопасность процесса и улучшает условия труда персонала.
		p Установка включает в себя систему баков для приготовления и хранения электролитов, обезжиривания заготовок перед хромированием, промывки после обезжиривания и нанесения покрытия, трубопроводы и насосы для подачи электролита в ячейку и слива его в бак, а также аппаратуру для контроля и автоматического управления параметрами процесса хромирования.
		p Количество ячеек в установке определяется программой выпуска колец, их номенклатурой и ограничивается только энергетическими возможностями.