include ../mixins/bread
include ../mixins/fancybox

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			.banner.banner_valign_center.banner_shadow_left.slider__banner(style='background-image: url("../img/content/slider/01.jpg");')
				.banner__text-wrap
					.banner__text-i
						.text
							.container
								.row
									.col-md-9.col-lg-8.col-xl-7
										h2.main-title
											span.main-title__title Выполненные работы
				.container.banner__bread
					+bread
.container
	h1.title.mb-30= page.title

	.text.mb-30
		.row
			.col-md-6.mb-30
				+fancybox({
					link: 'img/content/slider/01.jpg',
					title: 'Img 1',
					group: 'group-1',
					bg: true
				})
			.col-md-6.space-modificator.mb-30
				.row
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
				.row
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')

		.row

			.col-12.mb-30
				h3 Заказчик:
				p ОАО « ЗПК «Стакол», г. Петушки, Владимирская область
				h3 Выполненные работы:
				p Разработка, изготовление, монтаж и пуск в эксплуатацию 4-х комплектов оборудования и технологической оснастки для скоростного проточного хромирования стальных поршневых колец 60…100 мм.