include ../mixins/banner

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			+banner({
				img: '../img/content/slider/01.jpg',
				includeBread: true
			})(class='banner_valign_center banner_shadow_left slider__banner')
				.container
					.row
						.col-md-9.col-lg-8.col-xl-7
							h2.main-title
								span.main-title__title Нестандартные задачи и их решение - это наш профиль!

.container
	h1.title.mb-30= page.title

	.text.mb-60
		.row
			.col-md-6.mb-30

				a.fancybox(href='../img/content/slider/01.jpg' data-fancybox)
					.image(style='background-image: url("../img/content/slider/01.jpg")')

			.col-md-6.mb-30

					p Выполняем проектирование и изготовление оборудования по следующим технологиям:
					ul
						li Твердое хромирование
						li Никелирование
						li Фосфотироваине
						li Цинкование
						li Кадмирование
						li Меднение

		.mb-30
			p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
			p Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".