include ../mixins/fancybox
include ../mixins/banner

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			+banner({
				img: '../img/content/slider/01.jpg',
				includeBread: true
			})(class='banner_valign_center banner_shadow_left slider__banner')
				.container
					.row
						.col-md-9.col-lg-8.col-xl-7
							h2.main-title
								span.main-title__title Ключевые моменты в жизни компании

.container
	h1.title.mb-30= page.title

	.text.mb-60
		.row
			.col-md-6.mb-30
				+fancybox({
					link: 'img/content/slider/01.jpg',
					title: 'Img 1',
					group: 'group-1',
					bg: true
				})
			.col-md-6.space-modificator.mb-30
				.row
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
				.row
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')
					.col-sm-6
						+fancybox({
							link: 'img/content/slider/01.jpg',
							title: 'Img 1',
							group: 'group-1',
							bg: true
						})(class='space-modificator__fancybox')

		.mb-30
			p.gray 5 агуста 2018 года
			p ООО «Гальванохром» завершил поставку оборудования и технологии для хромирования оправок непрерывного стана в ТПЦ – 1 с использованием технологии с частичным погружением и вращением детали, без осевого перемещения. Участок сдан в эксплуатацию. Ведется хромирование оправок.
			p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности.
			p Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".