

.container
	.row
		.col-12
			.banner
				.slider
					.slider__item
						p.title.title_main lrdldflfgplfgpofgpofdspofsdop
					.slider__item
						p.title.title_main lrdldflfgplfgpofgpofdspofsdop
					.slider__item
						p.title.title_main lrdldflfgplfgpofgpofdspofsdop