include ../mixins/list

.slider.slider_dots_left.slider_height.slider_arrows_big
	.slider__item
		.banner.banner_middle
			.container
				.row
					.col-12
						h1.main-title
							.main-title__title Производство гальванического оборудования
							span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
	.slider__item
		.banner.banner_middle
			.container
				.row
					.col-12
						h1.main-title
							.main-title__title Производство гальванического оборудования
							span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
	.slider__item
		.banner.banner_middle
			.container
				.row
					.col-12
						h1.main-title
							.main-title__title Производство гальванического оборудования
							span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
.container
	.row
		.col-12
			h2.title Выполняем проектирование и изготовление оборудования по следующим технологиям:
		.col-4
			+list([
				{text: "ТВЕРДОЕ ХРОМИРОВАНИЕ", link: '#'},
				{text: "НИКЕЛИРОВАНИЕ", link: '#'},
				{text: "ФОСФОТИРОВАНИЕ", link: '#'},
				{text: "ЦИНКОВАНИЕ", link: '#'},
				{text: "КАДМИРОВАНИЕ", link: '#'},
				{text: "МЕДНЕНИЕ", link: '#'},
				{text: "АНОДИРОВАНИЕ", link: '#'}
			])
		.col-8
