include ../mixins/list
include ../mixins/advantage
include ../mixins/project
include ../mixins/description
include ../mixins/banner

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		- for (var i = 0; i < 3; i++) {
			.slider__item
				+banner({
					img: '../img/content/slider/01.jpg'
				})(class='banner_valign_center banner_shadow_left slider__banner')
					.container
						.row
							.col-md-9.col-lg-8.col-xl-7
								h1.main-title
									span.main-title__title Производство гальванического оборудования
									span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
		- }

.container
	h2.title.mb-30 Выполняем проектирование и изготовление оборудования по следующим технологиям:

	.row.mb-30
		.col-12
			.slider-list
				.row

					.col-md-5.col-lg-4.mb-30
						+list({})(class='slider-list__list')

					.col-md-7.col-lg-8.mb-30
						.slider-list__slider

							each val in list
								.slider-list__item(data-title= val.text)
									+banner({
										img: '../img/content/slider/01.jpg',
										title: val.text,
										link: val.link
									})
										p Хромирование происходит при неполном погружении детали в электролит и её вращением. В некоторых случаях осуществляется прокачка хромового электролита через межэлектродный зазор с заданной скоростью.

.container
	h2.title.mb-30 Полный комплекс работ под ключ

	.row.mb-30

		.col-lg-7.push-lg-5.col-xl-8.push-xl-4.mb-30
			.slider
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')

		.col-lg-5.pull-lg-7.col-xl-4.pull-xl-8.mb-30
			+description({
				link: 'service.html',
				btnText: 'Все услуги'
			})
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
				p Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".

.container
	h2.title.mb-30 Наши преимущества

	.row.mb-30

		each val in advantage
			.col-sm-6.col-lg-3.mb-30
				+advantage(val)

.container
	h2.title.mb-30 Качество и надежность продукции

	.row.mb-30

		.col-lg-7.push-lg-5.col-xl-8.push-xl-4.mb-30
			.slider
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')

		.col-lg-5.pull-lg-7.col-xl-4.pull-xl-8.mb-30
			+description({
				link: 'company.html',
				btnText: 'Подробнее о компании'
			})
				p У нашей компании 20-ти летний опыт внедрения гальванических технологий на крупных предприятиях гражданской и оборонной среды. Мы гарантируем высокое качество продукции, изготавливаемое с учетом всех современных требований.

.container
	h2.title.mb-30 Галерея реализованного оборудования

	.row

		- for (var i = 0; i < 2; i++) {
			.col-sm-6.mb-30
				+project({
					text: 'Модернизация и реконструкция гальванических цехов',
					src: '../img/content/project/01.jpg',
					link: 'detail-works.html'
				})
		- }

	.mb-60
		a.link.link_strong.link_upper.link_arrow.text-lg(href="works.html") Cмотреть все проекты