
.banner
	.slider.slider_dots_left
		.slider__item
			.container
				.row
					.col-12
						h1.title.title_main Производство гальванического оборудования
							span.subtitle Полный цикл работ: проектирование, изготовление, монтаж, запуск
		.slider__item
			.container
				.row
					.col-12
						h1.title.title_main Производство гальванического оборудования
							span.subtitle Полный цикл работ: проектирование, изготовление, монтаж, запуск
		.slider__item
			.container
				.row
					.col-12
						h1.title.title_main Производство гальванического оборудования
							span.subtitle Полный цикл работ: проектирование, изготовление, монтаж, запуск