include ../mixins/news
include ../mixins/bread

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			.banner.banner_valign_center.banner_shadow_left.slider__banner(style='background-image: url("../img/content/slider/01.jpg");')
				.banner__text-wrap
					.banner__text-i
						.text
							.container
								.row
									.col-md-9.col-lg-8.col-xl-7
										h1.main-title
											.main-title__title Ключевые моменты в жизни компании
				.container.banner__bread
					+bread

.container
	.row
		.col-12.mb-30
			h2.title Новости

		- for (var i = 0; i < 3; i++) {
			.col-12.mb-30
				+news({
					date: '5 августа 2018 года',
					title: 'Завершена поставка оборудования для ОАО «Северский Трубный Завод»',
					src: '../img/content/project/02.jpg',
					link: '#'
				})(class="news_fill")
					p ООО «Гальванохром» завершил поставку оборудования и технологии для хромирования оправок непрерывного стана в ТПЦ – 1 с использованием технологии с частичным погружением и вращением детали, без осевого перемещения. Участок сдан в эксплуатацию. Ведется хромирование оправок.
					p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности.</p><p> Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".
		- }