include ../mixins/bread
include ../mixins/company-detail-block
include ../mixins/banner

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			+banner({
				img: '../img/content/slider/01.jpg',
				includeBread: true
			})(class='banner_valign_center banner_shadow_left slider__banner')
				.container
					.row
						.col-md-9.col-lg-8.col-xl-7
							h2.main-title
								span.main-title__title Наша команда

.container
	h1.title.mb-30= page.title

	.row
		.col-sm-6.col-md-4.mb-60
			+company-detail-block({
				title: "Ким Вячеслав Елисеевич",
				text: "Генеральный директор"
			})
	.row.mb-30
		.col-sm-6.col-md-4.mb-30
			+company-detail-block({
				title: "Васильевский Василий Васильевич",
				text: "Генеральный директор"
			})
		.col-sm-6.col-md-4.mb-30
			+company-detail-block({
				title: "Ким Вячеслав Елисеевич",
				text: "Генеральный директор"
			})
		.col-sm-6.col-md-4.mb-30
			+company-detail-block({
				title: "Ким Вячеслав Елисеевич",
				text: "Генеральный директор"
			})