include ../mixins/project
include ../mixins/bread

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			.banner.banner_valign_center.banner_shadow_left.slider__banner(style='background-image: url("../img/content/slider/01.jpg");')
				.banner__text-wrap
					.banner__text-i
						.text
							.container
								.row
									.col-md-9.col-lg-8.col-xl-7
										h1.main-title
											.main-title__title Внушительный опыт внедрения гальванических технологий на крупных предприятиях
				.container.banner__bread
					+bread

.container
	.row
		.col-12
			h2.title.mb-30 Технологии
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')