include ../mixins/project
include ../mixins/banner

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			+banner({
				img: '../img/content/slider/01.jpg',
				includeBread: true
			})(class='banner_valign_center banner_shadow_left slider__banner')
				.container
					.row
						.col-md-9.col-lg-8.col-xl-7
							h2.main-title
								span.main-title__title Внушительный опыт внедрения гальванических технологий на крупных предприятиях

.container
	h1.title.mb-30= page.title

	.row.mb-30

		- for (var i = 0; i < 7; i++) {
			.col-sm-6.mb-30
				+project({
					text: 'Модернизация и реконструкция гальванических цехов',
					src: '../img/content/project/01.jpg',
					link: 'detail-technology.html'
				})(class='project_fill project_upper')
		- }