include ../mixins/project

.banner.banner_middle.mb-30
	.container
		.row
			.col-12.col-md-7
				h1.main-title
					.main-title__title Внушительный опыт внедрения гальванических технологий на крупных предприятиях
.container
	.row
		.col-12
			h2.title.mb-30 Технологии
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-12.col-sm-6.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')