include ../mixins/svg
include ../mixins/project
include ../mixins/list
include ../mixins/advantage

.container
	.row.mb-30

	.row.mb-30
		.col-12
			.text
				h1 Производство
				h2 Производство
				h3 Производство
				h4 Производство
				h5 Производство
				h6 Производство
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
				ul
					li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
					li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
						ul
							li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
							li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.

	.row
		.col-3.mb-30
			a.link(href='#') .link

	.row
		.col-12.mb-30
			h2.main-title
				.main-title__title Производство гальванического оборудования

		.col-12.mb-30
			h2.main-title
				.main-title__title Производство гальванического оборудования
				span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск

		.col-12.mb-30
			h2.main-title.main-title_prefix
				span.main-title__prefix 20
				.main-title__title Лет успешной работы

	.row.mb-30
		.col-12
			h2.title Производство гальванического оборудования

	.row.mb-30
		.col-3
			+list([
				{text: "Твердое хромирование", link: '#'},
				{text: "Никелирование", link: '#'},
				{text: "Фосфотирование", link: '#'},
				{text: "Цинкование", link: '#'},
				{text: "Кадмирование", link: '#'},
				{text: "Меднение", link: '#'},
				{text: "Анодирование", link: '#'}
			])

	.row
		.col-3.mb-30
			.btn .btn
		.col-3.mb-30
			a.btn(href='#') a.btn
		.col-3.mb-30
			button.btn button.btn
		.col-3.mb-30
			input.btn(type='button' value='input.btn')
		.col-3.mb-30
			.btn.btn_wide .btn.btn_wide

	.row.mb-30
		.col-3
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Благодаря огромному опыту мы можем разрабатывать и изготавливать.'
			})
		.col-3
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Наша команда'
			})(class='advantage_strong')
		.col-6
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Наша команда'
			})(class='advantage_horizontal')

	.row
		.col-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})
		.col-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_upper')
		.col-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_center')
		.col-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')

	.row.mb-30
		.col-4
			.description
				.description__text.text
					p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
					p Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".
				.description__btn
					a.btn(href='#') Все услуги

	.row.mb-30
		.col-7
			.slider
				.slider__item
				.slider__item
				.slider__item

	.row.mb-30
		.col-12
			.slider.slider_dots_left
				.slider__item
					p.title.title_main Разработка нестандартного оборудования
				.slider__item
					p.title.title_main Разработка нестандартного оборудования
				.slider__item
					p.title.title_main Разработка нестандартного оборудования

	.row.mb-30
		.col-12
			.slider.slider_dots_none
				.slider__item
					+project({
						text: 'Модернизация и реконструкция гальванических цехов',
						src: '../img/content/project/02.jpg'
					})
				.slider__item
					+project({
						text: 'Модернизация и реконструкция гальванических цехов',
						src: '../img/content/project/02.jpg'
					})
				.slider__item
					+project({
						text: 'Модернизация и реконструкция гальванических цехов',
						src: '../img/content/project/02.jpg'
					})