.container
	.row.mb-30
		.col-12
			h2.title .title
			h2.title .title
			h2.title .title
			h2.title .title

	.row
		.col-3
			ul.list
				li.list__item.active
					a.list__link(href='#') ТВЕРДОЕ ХРОМИРОВАНИЕ
				li.list__item
					a.list__link(href='#') НИКЕЛИРОВАНИЕ
				li.list__item
					a.list__link(href='#') ФОСФОТИРОВАНИЕ
				li.list__item
					a.list__link(href='#') ЦИНКОВАНИЕ
				li.list__item
					a.list__link(href='#') КАДМИРОВАНИЕ
				li.list__item
					a.list__link(href='#') МЕДНЕНИЕ
				li.list__item
					a.list__link(href='#') АНОДИРОВАНИЕ