include ../mixins/svg
include ../mixins/project
include ../mixins/list
include ../mixins/advantage
include ../mixins/logo
include ../mixins/news
include ../mixins/bread

.container
	.row.mb-30

	.row.mb-30
		.col-12
			.text
				h1 Производство
				h2 Производство
				h3 Производство
				h4 Производство
				h5 Производство
				h6 Производство
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
				ul
					li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
					li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
						ul
							li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
							li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.

	.row
		.col-sm-3.mb-30.main__fill
			+select(select)
		.col-sm-3.mb-30.main__fill
			+select(select)(class='select_wide')

	.row
		.col-sm-3.mb-30.main__fill
			button.toggle

	.row
		.col-sm-3.mb-30
			a.link(href='#') .link

	.row
		.col-sm-3.mb-30
			.contacts-item
				+svg('message', 'contacts-item__icon')
				.contacts-item__text .contacts-item
		.col-sm-4.mb-30
			.contacts-item.contacts-item_bold
				+svg('message', 'contacts-item__icon')
				.contacts-item__text .contacts-item.contacts-item_bold
		.col-sm-4.mb-30
			.contacts-item.contacts-item_icon_lg
				+svg('message', 'contacts-item__icon')
				.contacts-item__text .contacts-item.contacts-item_icon_lg
		.col-sm-3.mb-30
			a.contacts-item.link(href='#')
				+svg('message', 'contacts-item__icon')
				.contacts-item__text a.contacts-item
		.col-sm-3.mb-30
			a.contacts-item.link(href='#')
				+svg('message', 'contacts-item__icon')
				.contacts-item__text
					.contacts-item__text-gray .contacts
					| -item

	.row
		.col-12.mb-30
			h2.main-title
				.main-title__title Производство гальванического оборудования

		.col-12.mb-30
			h2.main-title
				.main-title__title Производство гальванического оборудования
				span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск

		.col-12.mb-30
			h2.main-title.main-title_prefix
				span.main-title__prefix 20
				.main-title__title Лет успешной работы

	.row.mb-30
		.col-12
			h2.title Производство гальванического оборудования
	.row.mb-30
		.col-12
			h2.title.title_white Производство гальванического оборудования
	.row.mb-30
		.col-sm-6.col-lg-3
			+list([
				{text: "Твердое хромирование", link: '#'},
				{text: "Никелирование", link: '#'},
				{text: "Фосфотирование", link: '#'},
				{text: "Цинкование", link: '#'},
				{text: "Кадмирование", link: '#'},
				{text: "Меднение", link: '#'},
				{text: "Анодирование", link: '#'}
			])

	.row.mb-30
		.col-sm-4
			+logo

	.row
		.col-sm-4.col-md-3.mb-30
			.btn .btn
		.col-sm-4.col-md-3.mb-30
			a.btn(href='#') a.btn
		.col-sm-4.col-md-3.mb-30
			button.btn button.btn
		.col-sm-4.col-md-3.mb-30
			input.btn(type='button' value='input.btn')
		.col-sm-4.col-md-3.mb-30
			.btn.btn_wide .btn.btn_wide

	.row
		.col-md-3.mb-30
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Благодаря огромному опыту мы можем разрабатывать и изготавливать.'
			})
		.col-md-3.mb-30
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Наша команда'
			})(class='advantage_strong')
		.col-md-6.mb-30
			+advantage({
				link: '#',
				icon: 'factory',
				text: 'Наша команда'
			})(class='advantage_horizontal')

	.row
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_upper')
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')

	.row.mb-30
		.col-md-4
			.description
				.description__text.text
					p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
					p Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".
				.description__btn
					a.btn.btn_wide(href='#') Все услуги
					
	.row.mb-30
		.col-sm-6
			.image(style='background-image: url("../img/content/slider/01.jpg")')

	.row
		.col-sm-6.mb-30
			.slider
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
		.col-sm-6.mb-30
			.slider.slider_dots_left
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
		.col-sm-6.mb-30
			.slider.slider_arrows_big
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
.mb-30
	.slider.slider_dots_left.slider_height.slider_arrows_big.mb-30
		.slider__item
			.banner.banner_middle
				.container.banner__container
					.row.banner__row
						.col-12.col-md-7
							h1.main-title
								.main-title__title Производство гальванического оборудования
								span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
		.slider__item
			.banner.banner_middle
				.container.banner__container
					.row.banner__row
						.col-12.col-md-7
							h1.main-title
								.main-title__title Производство гальванического оборудования
								span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
		.slider__item
			.banner.banner_middle
				.container.banner__container
					.row.banner__row
						.col-12.col-md-7
							h1.main-title
								.main-title__title Производство гальванического оборудования
								span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
.container
	.row.mb-30
		.col-12
			.slider.slider_dots_none.slider_arrows_big
				.slider__item
					+project({
						text: 'Модернизация и реконструкция гальванических цехов',
						src: '../img/content/project/02.jpg'
					})
				.slider__item
					+project({
						text: 'Модернизация и реконструкция гальванических цехов',
						src: '../img/content/project/02.jpg'
					})
				.slider__item
					+project({
						text: 'Модернизация и реконструкция гальванических цехов',
						src: '../img/content/project/02.jpg'
					})
	.row
		.col-12.mb-30
			+news({
				date: '5 августа 2018 года',
				title: 'Завершена поставка оборудования для ОАО «Северский Трубный Завод»',
				src: '../img/content/project/02.jpg',
				link: '#'
			})(class="news_fill")
				p ООО «Гальванохром» завершил поставку оборудования и технологии для хромирования оправок непрерывного стана в ТПЦ – 1 с использованием технологии с частичным погружением и вращением детали, без осевого перемещения. Участок сдан в эксплуатацию. Ведется хромирование оправок.
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности.</p><p> Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".
	.row
		.col-12
			.employer.mb-30
				.text
					p.title Заказчик:
					p.employer__text ОАО « ЗПК «Стакол», г. Петушки, Владимирская область
					p.title Выполненные работы:
					p.employer__text Разработка, изготовление, монтаж и пуск в эксплуатацию 4-х комплектов оборудования и технологической оснастки для скоростного проточного хромирования стальных поршневых колец 60…100 мм.
.container
	.row.mb-30
		.col-sm-4
			input.mb-15.input(placeholder="alex@mail.ru")
			input.mb-15.input.input_error(placeholder="1234")

