include ../mixins/svg
include ../mixins/project
include ../mixins/list

.container
	.row.mb-30
		.col-12
			h2.title .title
			h2.title.title_main .title.title_main

	.row.mb-30
		.col-3
			+list([
				{text: "ТВЕРДОЕ ХРОМИРОВАНИЕ", link: '#'},
				{text: "НИКЕЛИРОВАНИЕ", link: '#'},
				{text: "ФОСФОТИРОВАНИЕ", link: '#'},
				{text: "ЦИНКОВАНИЕ", link: '#'},
				{text: "КАДМИРОВАНИЕ", link: '#'},
				{text: "МЕДНЕНИЕ", link: '#'},
				{text: "АНОДИРОВАНИЕ", link: '#'}
			])

		.col-3
			button.btn все услуги
		.col-3
			a.advantage
				.advantage__img
					+svg('factory', 'advantage__icon')
				.advantage__text Благодаря огромному опыту мы можем разрабатывать и изготавливать нестандартное оборудование не только гальванической направленности.
		.col-3
			a.advantage
				.advantage__img
					+svg('sertificat', 'advantage__icon')
				.advantage__text Благодаря огромному опыту мы можем разрабатывать
	.row.mb-30
		.col-6
			+project({
				text: 'ПРОЕКТИРОВАНИЕ И ИЗГОТОВЛЕНИЕ НЕСТАНДАРТНОГО ПРОМЫШЛЕННОГО ОБОРУДОВАНИЯ',
				src: '../img/image-project.jpg'
			})
		.col-6
			+project({
				text: 'МОДЕРНИЗАЦИЯ И РЕКОНСТРУКЦИЯ ГАЛЬВАНИЧЕСКИХ ЦЕХОВ',
				src: '../img/image-project2.jpg'
			})(class='project_center')