include ../components/form
include ../mixins/svg
include ../mixins/project
include ../mixins/list
include ../mixins/advantage
include ../mixins/logo
include ../mixins/news
include ../mixins/bread
include ../mixins/employer
include ../mixins/fancybox
include ../mixins/params
include ../mixins/company-detail-block
include ../mixins/description
include ../mixins/banner

.container
	.row.mb-30

	.row.main__separator
		.col-12
			.text
				h1 Производство
				h2 Производство
				h3 Производство
				h4 Производство
				h5 Производство
				h6 Производство
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
				ul
					li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
					li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
						ul
							li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
							li Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.

	.row.main__separator
		.col-sm-3.mb-30.main__fill
			+select(select)
		.col-sm-3.mb-30.main__fill
			+select(select)(class='select_wide')

	.row.main__separator
		.col-sm-3.mb-30.main__fill
			button.toggle

	.row.main__separator
		.col-md-2.mb-30
			a.link(href='#') .link
		.col-md-2.mb-30
			a.link.link_strong(href='#') .link.link_strong
		.col-md-2.mb-30
			a.link.link_upper(href='#') .link.link_upper
		.col-md-2.mb-30
			a.link.link_arrow(href='#') .link.link_arrow
		.col-md-2.mb-30
			a.link.link_line_none(href='#') .link.link_line_none

	.row.main__separator
		.col-sm-3.mb-30
			.contacts-item
				+svg('message', 'contacts-item__icon')
				.contacts-item__text .contacts-item
		.col-sm-4.mb-30
			.contacts-item.contacts-item_bold
				+svg('message', 'contacts-item__icon')
				.contacts-item__text .contacts-item.contacts-item_bold
		.col-sm-4.mb-30
			.contacts-item.contacts-item_icon_lg
				+svg('message', 'contacts-item__icon')
				.contacts-item__text .contacts-item.contacts-item_icon_lg
		.col-sm-3.mb-30
			a.contacts-item.link(href='#')
				+svg('message', 'contacts-item__icon')
				.contacts-item__text a.contacts-item
		.col-sm-3.mb-30
			a.contacts-item.link(href='#')
				+svg('message', 'contacts-item__icon')
				.contacts-item__text
					.contacts-item__text-gray .contacts
					| -item

	.row.main__separator
		.col-12.mb-30
			h2.main-title
				span.main-title__title Производство гальванического оборудования

		.col-12.mb-30
			h2.main-title
				span.main-title__title Производство гальванического оборудования
				span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск

		.col-12.mb-30
			h2.main-title.main-title_prefix
				span.main-title__prefix 20
				span.main-title__title Лет успешной работы

	.row.main__separator
		.col-12.mb-30
			h2.title Производство гальванического оборудования
		.col-12.mb-30
			h2.title.title_white Производство гальванического оборудования

	.row.main__separator
		.col-sm-6.col-lg-3
			+list(list)

	.row.main__separator
		.col-sm-4
			+logo

	.row.main__separator
		.col-sm-4.col-md-3.mb-30
			.btn .btn
		.col-sm-4.col-md-3.mb-30
			a.btn(href='#') a.btn
		.col-sm-4.col-md-3.mb-30
			button.btn button.btn
		.col-sm-4.col-md-3.mb-30
			input.btn(type='button' value='input.btn')
		.col-sm-4.col-md-3.mb-30
			.btn.btn_wide .btn.btn_wide

	.row.main__separator
		.col-md-3.mb-30
			+advantage(advantage_2[0])
		.col-md-3.mb-30
			+advantage(advantage_2[0])(class='advantage_strong')
		.col-md-6.mb-30
			+advantage(advantage_2[0])(class='advantage_horizontal')

	.row.main__separator
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_upper')
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_fill')
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_strong')
		.col-md-4.mb-30
			+project({
				text: 'Модернизация и реконструкция гальванических цехов',
				src: '../img/content/project/01.jpg',
				link: '#'
			})(class='project_wide')

	.row.main__separator
		.col-md-4
			+description({
				link: '#',
				btnText: 'Все услуги'
			})
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности на протяжении более тридцати лет.
				p Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".

	.row.main__separator

		.col-md-6.mb-30
			+banner({
				img: '../img/content/slider/01.jpg',
				title: 'Твердое хромирование'
			})
				p Хромирование происходит при неполном погружении детали в электролит и её вращением. В некоторых случаях осуществляется прокачка хромового электролита через межэлектродный зазор с заданной скоростью.

		.col-md-6.mb-30
			+banner({
				img: '../img/content/slider/01.jpg',
				title: 'Твердое хромирование'
			})(class='banner_valign_center')
				p Хромирование происходит при неполном погружении детали в электролит и её вращением. В некоторых случаях осуществляется прокачка хромового электролита через межэлектродный зазор с заданной скоростью.

		.col-md-6.mb-30
			+banner({
				img: '../img/content/slider/01.jpg',
				title: 'Твердое хромирование'
			})(class='banner_shadow_left')
				p Хромирование происходит при неполном погружении детали в электролит и её вращением. В некоторых случаях осуществляется прокачка хромового электролита через межэлектродный зазор с заданной скоростью.

		.col-md-6.mb-30
			+banner({
				img: '../img/content/slider/01.jpg',
				title: 'Твердое хромирование',
				link: '#'
			})
				p Хромирование происходит при неполном погружении детали в электролит и её вращением. В некоторых случаях осуществляется прокачка хромового электролита через межэлектродный зазор с заданной скоростью.

	.row.main__separator
		.col-sm-6
			.image(style='background-image: url("../img/content/slider/01.jpg")')

	.row.main__separator
		.col-sm-6.mb-30
			.slider
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')

		.col-sm-6.mb-30
			.slider.slider_dots_left
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')

		.col-sm-6.mb-30
			.slider.slider_dots_none
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')

		.col-sm-6.mb-30
			.slider.slider_arrows_big
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')
				.slider__item
					.image(style='background-image: url("../img/content/slider/01.jpg")')

.mb-30
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		- for (var i = 0; i < 3; i++) {
			.slider__item
				+banner({
					img: '../img/content/slider/01.jpg',
				})(class='banner_valign_center banner_shadow_left slider__banner')
					.container
						.row
							.col-md-7
								h1.main-title
									span.main-title__title Производство гальванического оборудования
									span.main-title__desc Полный цикл работ: проектирование, изготовление, монтаж, запуск
		- }

.container
	.row.main__separator
		.col.mb-30
			+news({
				date: '5 августа 2018 года',
				title: 'Завершена поставка оборудования для ОАО «Северский Трубный Завод»',
				src: '../img/content/project/02.jpg',
				link: '#'
			})
				p ООО «Гальванохром» завершил поставку оборудования и технологии для хромирования оправок непрерывного стана в ТПЦ – 1 с использованием технологии с частичным погружением и вращением детали, без осевого перемещения. Участок сдан в эксплуатацию. Ведется хромирование оправок.
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности.</p><p> Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".
		.col-12.mb-30
			+news({
				date: '5 августа 2018 года',
				title: 'Завершена поставка оборудования для ОАО «Северский Трубный Завод»',
				src: '../img/content/project/02.jpg',
				link: '#'
			})(class="news_fill")
				p ООО «Гальванохром» завершил поставку оборудования и технологии для хромирования оправок непрерывного стана в ТПЦ – 1 с использованием технологии с частичным погружением и вращением детали, без осевого перемещения. Участок сдан в эксплуатацию. Ведется хромирование оправок.
				p Разработка нестандартного оборудования и технологий нанесения хромовых покрытий и электрохимической обработки - основной вид нашей деятельности.</p><p> Мы готовы выполнить полный комплекс работ по проектированию и изготовлению любого типа оборудования для хромирования и электрохимической обработки, в т.ч. со сдачей объекта Заказчику "под ключ".

	.row.main__separator
		.col.mb-30
			+employer(employer)

	.row.main__separator
		.col-sm-3.mb-15
			input.input(type='text' placeholder=".input")
		.col-sm-3.mb-15
			input.input.input_error(type='text' placeholder=".input.input_error")
		.col-sm-3.mb-15
			input.input.input_tel(type='tel' placeholder=".input.input_tel")
		.col-sm-3.mb-15
			textarea.input(placeholder='textarea.input')
			
	.row.main__separator
		.col-sm-5
			+form

	.row.main__separator
		.col-sm-4
			+fancybox({
				link: 'img/content/slider/01.jpg',
				title: 'Img 1',
				group: 'group-1'
			})
		.col-sm-4
			+fancybox({
				link: 'img/content/slider/01.jpg',
				title: 'Img 1',
				group: 'group-1',
				bg: true
			})

	.row.main__separator
		.col-sm-6
			+fancybox({
				link: 'img/content/slider/01.jpg',
				title: 'Img 1',
				group: 'group-1',
				bg: true
			})
		.col-sm-6.space-modificator
			.row
				.col-sm-6
					+fancybox({
						link: 'img/content/slider/01.jpg',
						title: 'Img 1',
						group: 'group-1',
						bg: true
					})
				.col-sm-6
					+fancybox({
						link: 'img/content/slider/01.jpg',
						title: 'Img 1',
						group: 'group-1',
						bg: true
					})
			.row
				.col-sm-6
					+fancybox({
						link: 'img/content/slider/01.jpg',
						title: 'Img 1',
						group: 'group-1',
						bg: true
					})
				.col-sm-6
					+fancybox({
						link: 'img/content/slider/01.jpg',
						title: 'Img 1',
						group: 'group-1',
						bg: true
					})

	.row.main__separator
		.col-sm-3
			+company-detail-block({
				title: "Васильевский Василий Васильевич",
				text: "Генеральный директор"
			})
		.col-sm-3
			+company-detail-block({
				img: "../img/content/company-detail-block/01.png",
				title: "Сертификат соответствия",
				text: "Системы менеджмента качества ISO 9001:2016",
				link: true
			})
		.col-sm-3
			+company-detail-block({
				img: "../img/content/company-detail-block/01.png",
				title: "Сертификат соответствия",
				text: "Системы менеджмента качества ISO 9001:2016",
				link: true
			})(class="company-detail-block_height_lg")
		.col-sm-3
			+company-detail-block({
				img: "../img/content/company-detail-block/01.png",
				title: "Сертификат соответствия",
				text: "Системы менеджмента качества ISO 9001:2016",
				link: true
			})(class="company-detail-block_contain")

	.row.main__separator
		.col-12
			#map.map

	.row.main__separator
		.col-sm-6
			+params(params)