include ../mixins/project
include ../mixins/bread
include ../mixins/employer

.mb-60
	.slider.slider_dots_left.slider_arrows_big.slider_height_full

		.slider__item
			.banner.banner_valign_center.banner_shadow_left.slider__banner(style='background-image: url("../img/content/slider/01.jpg");')
				.banner__text-wrap
					.banner__text-i
						.text
							.container
								.row
									.col-md-9.col-lg-8.col-xl-7
										h2.main-title
											span.main-title__title Выполненные работы
				.container.banner__bread
					+bread

.container
	h1.title.mb-30= page.title

	.mb-60
		.slider.slider_dots_none.slider_arrows_big

			.slider__item
				+project({
					link: 'detail-works.html',
					text: 'ОАО « ЗПК «Стакол», г. Петушки, Владимирская область',
					src: '../img/content/project/01.jpg'
				})(class='project_wide project_strong')

			.slider__item
				+project({
					link: 'detail-works.html',
					text: 'ОАО « ЗПК «Стакол», г. Петушки, Владимирская область',
					src: '../img/content/project/01.jpg'
				})(class='project_wide project_strong')

			.slider__item
				+project({
					link: 'detail-works.html',
					text: 'ОАО « ЗПК «Стакол», г. Петушки, Владимирская область',
					src: '../img/content/project/01.jpg'
				})(class='project_wide project_strong')

	.row.mb-30

		- for (var i = 0; i < 3; i++) {
			.col-12.mb-30
				+employer(employer)
		- }