include ../mixins/project
include ../mixins/bread
include ../mixins/employer

.slider.slider_height.mb-30
	.slider__item
		.banner.banner_middle.mb-30
			.container.banner__container
				.row.banner__row
					.col-12.col-md-3
						h1.main-title
							.main-title__title Выполненные работы
			.container
				+bread
.container
	.row
		.col-12
			h2.title.mb-30 Наши проекты
	.row.mb-30
		.col-12
			.slider.slider_dots_none.slider_arrows_big
				.slider__item
					+project({
						text: 'ОАО « ЗПК «Стакол», г. Петушки, Владимирская область',
						src: '../img/content/project/01.jpg'
					})(class='project_height')
				.slider__item
					+project({
						text: 'ОАО « ЗПК «Стакол», г. Петушки, Владимирская область',
						src: '../img/content/project/01.jpg'
					})(class='project_height')
				.slider__item
					+project({
						text: 'ОАО « ЗПК «Стакол», г. Петушки, Владимирская область',
						src: '../img/content/project/01.jpg'
					})(class='project_height')

	.row

		- for (var i = 0; i < 3; i++) {
			.col-12.mb-30
				+employer(employer)
		- }