$name: select;

.#{$name} {
	outline: none;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 300;
	color: $color-text;
	border: none;
	display: inline-flex;
	flex-direction: column;
	max-width: 100%;

	&:hover {
		background-color: $color-main-active;
	}

	&__current {
		outline: none;
		margin: 0;
		color: $color-text;
		appearance: none;
		border-radius: 0;
		max-width: 100%;
		background-color: transparent;
		font-size: 16px;
		padding: 7px 35px 7px 10px;
		line-height: 1.3;
		height: 100%;
		display: flex;
		align-items: center;
		flex-grow: 1;

		&::after {
			content: '\f107';
			font-family: $font-fa;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 23px;
			font-style: normal;
			line-height: 0;
			transition: all ease-out .3s;
			color: #fff;
		}

		&_active {
			background-color: $color-main-active;

			&::after {
				transform: translateY(-50%) rotate(180deg);
				color: #fff;
			}

			.select__text {
				color: #fff;
			}
		}

		&.ui-button {
			width: auto;
		}
	}

	&__text {
		margin: 0;
		color: #fff;
	}

	&__list {
		background-color: white;
		z-index: 10;
		border: 0;

		.ui-menu {
			list-style-type: none;
			padding: 0;
			margin: -1px 0 0;
			border: 1px solid $color-gray-medium;
			color: $color-text;
			font-size: 16px;
			max-height: 20em;
			position: relative;
			outline: none;
		}

		.ui-menu-item-wrapper {
			cursor: pointer;
			padding: 7px 10px;
			line-height: 1.3;

			&.ui-state-active {
				background: $color-main;
				color: white;
			}
		}
	}

	&_wide {
		display: flex;

		.#{$name} {

			&__current {
				width: 100%;
			}
		}
	}
}