html {
	height: 100%;
	font-size: 7px;

	@include screen-md() {
		font-size: 8px;
	}

	@include screen-lg() {
		font-size: 9px;
	}

	@include screen-xl() {
		font-size: 10px;
	}
}

body {
	height: 100%;
	font-family: $font-main;
	font-size: 15px;
	line-height: 1.2;
	color: $color-text;
	background-color: $color-gray-light;

	&.noscroll {
		overflow: hidden;
	}
}

input,
textarea {
	// appearance: none;
	// border-radius: 0;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

textarea {
	resize: none;
}

ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;

	&:not([class]),
	&[class=''] {
		outline: none;
		color: $color-text;
		text-decoration: none;
		border-bottom: 1px solid;

		&:hover {
			color: $color-second;
		}

		&:active {
			color: $color-second-active;
		}
	}
}

hr {
	margin: 0;
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
}

::selection {
	color: white;
	background-color: $color-main;
}

.hidden-xs {

	@include screen-sm(max) {
		display: none !important;
	}
}

.hidden-sm {

	@include screen-md(max) {
		display: none !important;
	}
}

.hidden-md {

	@include screen-lg(max) {
		display: none !important;
	}
}

.hidden-lg {

	@include screen-xl(max) {
		display: none !important;
	}
}

.visible-xs {

	@include screen-sm() {
		display: none !important;
	}
}

.visible-sm {

	@include screen-md() {
		display: none !important;
	}
}

.visible-md {

	@include screen-lg() {
		display: none !important;
	}
}

.visible-lg {

	@include screen-xl() {
		display: none !important;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.mb-5 {
	margin-bottom: 5px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-60 {
	margin-bottom: 60px;
}

.white {
	color: white;
}

.gray {
	color: $color-gray;
}

.strong {
	font-weight: bold;
}

.text-lg {
	font-size: 16px;
}