// HEADER
include ../mixins/logo
include ../mixins/menu
include ../mixins/svg
include ../mixins/select


header.header
	.header__top
		.container
			.row.header__top-content
				.col-sm-5.col-md-4.col-lg-3
					.header__logo
						+logo
				.col-sm-7.col-md-8.col-lg-9
					.header__contacts

						.header__contact
							.contacts-item.contacts-item_icon_lg
								+svg('location', 'contacts-item__icon')
								.contacts-item__text г. Санкт-Петербург
									br
									| Уманский пер., д. 71 (здание "Трест-101")

						.header__contact
							a.link.link_nowrap.contacts-item.contacts-item_icon_lg(href='mailto:manager@galvanochrom.ru')
								+svg('message', 'contacts-item__icon')
								.contacts-item__text manager@galvanochrom.ru

						.header__contact
							a.link.link_nowrap.contacts-item.contacts-item_icon_lg.contacts-item_bold(href='tel:+79219441109')
								+svg('phone', 'contacts-item__icon')
								.contacts-item__text +7 (921) 944-11-09
	.header__bottom
		.container
			.header__bottom-content
				nav.header__menu-wrap
					button.toggle.header__toggle
					+menu([
						{text: "Услуги", link: '#'},
						{text: "Технологии", link: '#'},
						{text: "Новости", link: '#'},
						{text: "О компании", link: '#'},
						{text: "Наши проекты", link: '#'},
						{text: "Контакты", link: '#'}
					])(class="header__menu header__menu_mobile-hidden")
				.header__select-wrap
					+select(select)(class='header__select')