extends layouts/default

block vars
	-
		page = {
			title: 'Завершена поставка оборудования для ОАО «Северский Трубный Завод»',
			link: 'detail-news.html'
		}

block content
	include pages/detail-news